/*
Primary Color:  #125009
Tint: #F5FBF2
*/

/* - Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* % of user's default browser font-size settings */
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
}

/**********************************/
/* General Reusable Components */
/**********************************/
.container {
  max-width: 120rem;
  padding: 0 10.2rem;
  margin: 0 auto; /* Centers page */
}

.grid {
  display: grid;
  column-gap: 2.4rem;
  row-gap: 4.2rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}
.grid--center-v {
  align-items: center;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.2rem;
  line-height: 1.1;
  margin-bottom: 2.4rem;
}

.subheading {
  display: inline-block;
  font-size: 2rem;
  font-weight: 700;
  color: #00bcff;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  padding: 2.4rem 0;
}

.btn:link,
.btn:visited {
  display: inline-block;
  background-color: #125009;
  font-size: 2.2rem;
  font-weight: 500;
  color: #fff;
  padding: 1rem 1rem;
  border-radius: 9px;
  text-decoration: none;
  /*put transition on original state */
  transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #125009;
}

.btn--full:hover,
.btn--full:active {
  box-shadow: inset 0 0 0 6px #7c9971;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #7c9971;
  color: #1b1b1b;
}

.btn--outline:hover,
.btn--outline:active {
  /* trick to add border inside  */
  box-shadow: inset 0 0 0 6px #125009;
}
.margin-right-sm {
  margin-right: 0.25rem;
}

.zoom {
  transition: transform 0.2s;
}

.zoom:hover {
  transform: scale(
    4.5
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.filter-img-gray {
  filter: grayscale(200%);
}

/**********************************/
/* Header Section */
/**********************************/

.header {
  background-color: #125009;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* set height to make header sticky */
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}

/* Sticky Navigation */
.sticky {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  z-index: 999;
}

.header-title {
  font-size: 1.5rem;
  font-weight: 500;
}

.logo {
  height: 9.4rem;
}

/**********************************/
/* Top Navigation Section */
/**********************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 2rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #7c9971;
}

.nav-icon {
  color: white;
  font-size: 3rem;
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: poiner;
  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: white;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/**********************************/
/* Hero Components */
/**********************************/
.section-hero {
  background-color: #f9fef7;
  /* padding: Top  Left Bottom Right */
  padding: 13rem 0 4rem;
}

.hero {
  max-width: 130rem;
  /* centers in broswer */
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9.6rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

/**********************************/
/* Contact Us Components */
/**********************************/
.container-contact {
  max-width: 80rem;
  padding: 0 3.2rem;
  margin: 0 auto; /* Centers page */
}
.grid-contact {
  display: grid;
  column-gap: 1rem;
  row-gap: 1rem;
  align-items: center;
}

.section-contact {
  padding: 2.4rem 0 1rem 0;
}
.heading-contact {
  font-size: 3rem;
  text-align: center;
  padding-bottom: 2rem;
}
.contact-img {
  width: 30%;
  margin-bottom: 1rem;
}

.contact-img--radius {
  border-radius: 50%;
}

.contact-text {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.4rem;
}

.contact-link:link,
.contact-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.contact-link:hover,
.contact-link:active {
  color: #555;
}

/**********************************/
/* Passion Components */
/**********************************/

.section-mission {
  padding: 9.6rem 0;
}

.passion-img-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mission-img {
  width: 45%;
  z-index: 10;
}

.passion-img-box img {
  transition: transform 0.7s ease-in-out;
}

.passion-img-box img:hover {
  transform: rotate(360deg);
}

.passion-heading {
  font-size: 3rem;
  font-weight: 600;
  color: #7c9971;
  margin-bottom: 1.2rem;
  letter-spacing: 1px;
}

.passion-description {
  font-size: 1.8rem;
  line-height: 1.5;
}

.passion-description--margin-bottom {
  margin-bottom: 10.8rem;
}

.passion-description--margin-bottom-less {
  margin-bottom: 2rem;
}
.passion-img-box::before {
  content: "";
  display: block;
  width: 70%;
  border-radius: 50%;
  padding-bottom: 70%;
  background-color: #125009;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.passion-img-box::after {
  content: "";
  display: block;
  width: 60%;
  border-radius: 50%;
  padding-bottom: 60%;
  background-color: #f9fef7;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  z-index: 2;
}

.mission-text-box {
  /* background-color: #f5fbf2; */
  padding-top: 2rem;
}

/*****************************/
/* Curriculum section */
/*****************************/

.section-grades {
  padding: 9.6rem 0;
}

.grade-img {
  width: 100%;
}

.grade-title {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 800;
  text-align: center;
  color: #7c9971;
  padding-bottom: 1.8rem;
}

.grid-border {
  border: #125009;
}

.grade-text {
  font-size: 1.8rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.center-text {
  text-align: center;
}

.grade-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.grade-attribute {
  font-size: 1.4rem;
  line-height: 1.5;
  display: flex;
  align-items: center;
  gap: 1.4rem;
}

.grade-icon {
  color: #125009;
  font-size: 4rem;
}

.grade {
  box-shadow: 0 2.4px 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 12px;
  overflow: hidden;
  background-color: #f9fef7;
  transition: all 0.4s;
}

.grade:hover {
  transform: translateY(-1.2rem);
}

.grade-content {
  padding: 2rem;
}

/*****************************/
/* Steps for Admissiions section */
/*****************************/

.section-steps {
  background-color: #f9fef7;
  padding: 15rem 9.6rem 9.6rem 9.6rem;
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
  gap: 4rem;
}

.steps-subheading {
  display: inline-block;
  font-size: 2rem;
  font-weight: 700;
  color: #00bcff;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  margin-bottom: 2rem;
}

.steps {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.steps-title {
  font-size: 4.8rem;
  font-weight: 500;
  color: #ddd;
  margin-bottom: 1rem;
}

.steps-text {
  font-size: 1.8rem;
  line-height: 1.5;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.gallery-item {
  overflow: hidden;
}
.gallery-item img {
  display: block;
  width: 100%;
  height: 100%;
  transition: all 0.4s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

.handbook:link,
.handbook:visited {
  text-decoration: none;
  color: #555;
}

.handbook:hover,
.handbook:active {
  color: #125009;
  font-weight: 600;
}

/*****************************/
/* Fees section */
/*****************************/

.section-plans {
  padding: 9.6rem 0 8rem 0;
}

.plans {
  text-align: center;
  margin-bottom: 4rem;
}
.plan-name {
  font-size: 2.4rem;
  font-weight: 900;
  color: Green;
  margin-bottom: 2rem;
}

.plan-fee {
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 600;
  margin-bottom: 1rem;
}

.plan-content {
  font-size: 1.6rem;
  margin-left: 0.5rem;
  line-height: 2rem;
}

.plan-amt {
  font-size: 2.8rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 1rem;
}

.plan-dollarsign {
  font-size: 2rem;
}

.plan-margin-top {
  margin-top: 2.5rem;
  font-weight: 900;
  color: #125009;
}

.plan-content-left {
  text-align: left;
}

.plans {
  background-color: #f2fcee;
  border-radius: 11px;
  padding: 1.8rem;
  border: 2px solid#00bcff;
}

.info-icon {
  color: #125009;
  font-size: 3rem;
  margin-bottom: 1rem;
  background-color: #f2fcee;
  padding: 0.5rem;
  border-radius: 50%;
}
.info-title {
  font-size: 1.8rem;
  font-weight: 900;
  margin-bottom: 1rem;
}
.info-text {
  font-size: 1.4rem;
  line-height: 1.8rem;
  letter-spacing: 0.025rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.8rem;
}

/* **********************
footer
********************** */

.footer {
  padding: 9.6rem 0;
  border-top: 1px solid #125009;
  background-color: #f9fef7;
}

.grid--footer {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
  column-gap: 4rem;
}
.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}

.footer-logo {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.facebook-icon {
  font-size: 3rem;
}

.facebook-text {
  margin-left: 2rem;
}

.copyright {
  margin-top: auto;
  font-size: 1.4rem;
  color: #767676;
  line-height: 1.6rem;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6rem;
}

.address {
  margin-bottom: 2.4rem;
}
